 Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Full Page Background */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* 4K Sticky Notes Background */
  background-image: url("https://images.unsplash.com/photo-1586281380349-632531db7ed4?q=80&w=2070&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Glassmorphism Form */
.form {
  color: black;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Heading */
.form h2 {
  text-align: center;
  color: #090404;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Inputs */
.form input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;color: black;

  background: rgba(255, 255, 255, 0.2);
  color: #090101;

  transition: 0.3s;
}

/* Input Placeholder */
.form input::placeholder {
  color: rgba(19, 3, 3, 0.7);
}

/* Input Focus */
.form input:focus {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

/* Button */
.form button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;

  transition: all 0.3s ease;
}

/* Button Hover */
.form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 242, 254, 0.4);
}

/* Disabled Button */
.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Login Text */
.form span {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/* Link */
.form Link {
  color: #00f2fe;
  text-decoration: none;
  font-weight: bold;
}

.form Link:hover {
  text-decoration: underline;
}
